@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal */
.text-center {
    text-align: center;

}

/* Hero Section Begin */
#hero {
    margin-top: 50px;
    /* height: 652px; */
    width: 1366px;
    height: 652px;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.hero-container {
    width: 998px;
}

#hero .hero-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
   
    text-align: center;
    opacity: 0.7;
}

.btn-container {
    text-align: center;
}

.btn {
    padding: 15px 24px 15px 25px;
    
    border: none;
    cursor: pointer;
    border-radius: 8px;

    background: rgb(13, 19, 33);
    ;
}
#hero a{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;

}

/* Hero Section Finished */



/* Development Part Started */
#dev {
    margin: 74px 145px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 10px;
}

.dev-container {

    display: flex;
    justify-content: space-around;
    gap: -200px;
}

.dev-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}

#dev .dev-des {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}

.details {
    width: 400px;

}

.details-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;

}

.details-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.details-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

}

.but {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    border: none;
}

/* Inspiration Section */

#ins {
    margin: 74px 145px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.video-container {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
     width: 1050px;
    height: 600px;

}

iframe {
    border-radius: 10px;
}

/* Inspiration Section End */


/* Skill Section Started */
#skill {
    margin: 74px 145px;
}

.skills-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 20px;

}

.skill {
    width: 284px;
    padding: 30px;
    border-radius: 16px;
}

.box1 {
    background-color: rgba(255, 76, 30, 0.05);

}

.box2 {
    background-color: rgba(0, 76, 232, 0.05);
}

.box3 {
    background-color: rgba(255, 223, 0, 0.05);
}

.skills-container h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;

}

.skills-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;

}

.skills-container a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* Skill Section End */


/* Support section */
#support-section {
    margin: 74px auto;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%),  url("../assets/handshake.jpg");
    width: 1050px;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.footer-container{
    
}
.support-title{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.support-subtitle{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
#support-section input{
    width: 548px;
height: 57px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
}
#support-section button{
    width: 120px;
height: 57px;
    border-radius: 8px;

background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
/* Support Section end */


/* Footer Section */
#footer-section{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
   
}
.footer-container{
    margin: 0 auto;
    width: 1050px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
#footer-section h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
   
}